<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>German Vesi, veebiprogrammeerimine 2023</title>
	<script src="www.js" defer></script>
</head>
<body>
	<img src="/banner/banner.png" alt="veebiprogrammeerimise kursuse banner">
	<h1><%= h1 %></h1>
	<ul>
		<%= wisdom.forEach(function(sentence){%>
			<li><%= sentence %></li>
		<% }); %>
		
		
	</ul>
	<hr>
	<ul>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
</body>
</html>