<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>German Vesi, veebiprogrammeerimine 2023</title>
	<script src="www.js" defer></script>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse banner">
	<h1>Eesti film</h1>
	<ul>
		<li><a href="/news">Uudised</a></li>
		<li><a href="/">Avalehele</a></li>
	</ul>
		
	<hr>
	<h2>Andmebaasis olevad uudised</h2>
	<ol>
		<% newslist.forEach(function(news){ %>
			<li><%= news.title %></li>
		<% }); %>
	</ol>
</body>
</html>