<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>German Vesi, veebiprogrammeerimine 2023</title>
	<script src="www.js" defer></script>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse banner">
	<h1>Uudised</h1>
	<ul>
        <li><a href='/news'>uudiste avaleht</a></li>
        <li><a href='/'>avalehele</a></li>
    </ul>
    <hr>
    <h2>viimased uudised</h2>
    <li><a href="/news/read/1">Uudise pealkiri</a></li>

    <p>Lisatud: lisamise kuupäev</p>
    <p>Sisu</p>
    <% newslist.forEach(function(news){ %>
        <h3><%= news.title %></h3>
    <% }); %>
</body>
</html>